.description-input {
  resize: none;
}

form.addPage-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 332px;
  margin: 52px 0;
}

.img-Addpage {
  width: 200px;
  height: 200px;
  margin: 0 23%;
}

.p-Addpage {
  width: 200px;
  height: 200px;
}

.div-addPage {
  overflow: scroll;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 30%;
}
